.businesshq-bg { 
 background-color: #10277b;
 background-color: rgba(16, 39, 123, 0.918);
}

.businesshq-bg-complementary {
    background-color: #bd6b1ee0;
}

.activeClass > .list-group-item {
    background-color: rgba(16, 39, 123, 0.842)!important;
    border-color: rgba(16, 39, 123, 0.842)!important;
}

.navbar-brand {
    color: rgba(16, 39, 123, 0.842)!important;
}

.businesshq-bg-light {
    background-color: rgba(16, 39, 123, 0.801);

}

.insights-card {
    min-height: 900px;
}