.businesshq-bg { 
 background-color: rgba(16, 110, 198, 0.932);
}

.businesshq-bg-complementary {
    background-color: #f78234;
}

.activeClass > .list-group-item {
    background-color: rgba(16, 110, 198, 0.932)!important;
    border-color: rgba(16, 110, 198, 0.932)!important;
}

.navbar-brand {
    color: rgba(16, 110, 198, 0.932)!important;
}

.main-color-font {
    color: rgba(16, 110, 198, 0.932)!important;
}

.businesshq-bg-light {
    background-color: rgba(16, 110, 198, 0.822);

}

.insights-card {
    min-height: 900px;
}

.show-pointer {
    cursor: pointer;
}

.icon-width {
    min-width: 5.5rem;
}

.selected-account {
    background-color: rgba(16, 110, 198, 0.199)!important;
}